/* Responsive css design by John Brell G. Ladiero */
/* Format

top bottom left right display position
Sizes margin padding
Background
Fonts
borders and radius
Webkit and extras
z-index
*/

/* Dark Mode */
:root{
  --blue:#098ff8;
  --purple:#963c96;
  --pink:#f5509b;
  --red:#dc323c;
  --orange:#f58228;
  --yellow:#fab437;
  --green:#64b950;
  --graphite:#969696;


  --background: #f0f0f0;
  --color: #3d3d3d;
  --accent:rgb(9,143,248);
  --disabled:#777;
  --token: #fefefe;/*linear-gradient(#fcfcfc,#f7f7f7);*/
  --line-color: #ffffff;


  /* Modal */
  --backdrop: rgba(255,255,255,0.5);


}


      @media (prefers-color-scheme: dark) {
            :root{

              --purple:#a550a5;

              --red:#fa4650;

              --yellow:#e6a023;

              --graphite:#8c8c8c;


              --background: #000000;
              --color: #e7e7e7;
              --accent:rgb(253,28,103);

              --token: linear-gradient(#252525, #202020 ); /* Used by article */
              --line-color: #000000; /* Used by article */


              /* Modal */
              --backdrop: rgba(0,0,0,0.5);
            }

            body > header { background: linear-gradient(rgb(0,0,0,1), rgba(30,30,30,0.3)) !important; border-bottom: 1px solid #0f0f0f !important;}
            body > nav { background: rgb(30,30,30,0.77) !important; border-top: 1px solid #0f0f0f; }
            [graph]{ filter: invert() hue-rotate(170deg); color:black;}


      }



* { margin: 0; padding: 0;
    box-sizing: border-box;
  }

html { overflow: hidden; }
body { top:0; left: 0; right: 0; bottom: 0;
       width: 100vw; height: 100vh;
       font-family: helvetica; overflow: scroll;
       background: var(--background); color: var(--color);
       overflow: -moz-scrollbars-none; -ms-overflow-style: none;
       -webkit-user-select: none;
       -webkit-tap-highlight-color: transparent;
       -webkit-touch-callout: none;
       /*scroll-snap-type: y proximity; /* set to mandatory to force scroll in contrary to proximity*/
       scroll-behavior: smooth;
       scroll-padding: 3.7em; scroll-snap-padding: 3.7em;
      } body::-webkit-scrollbar { width: 0 !important; background: transparent;}
        [active]{ display: block; }


/* Global Properties and common styles */
/* Put backgrounds cursors and paddings here */
body> header {  top:0; left:0; right:0; display: none; position: fixed;
                padding-bottom: 0.1em; color:inherit !important;
                background: linear-gradient(rgb(255,255,255,1), rgba(255,255,255,0));
                border-bottom:1.5px solid #f0f0f0;
                font-weight: bold;
                -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);
                z-index: 100;
              }

nav { position: fixed;
      background: rgba(255,255,255,0.7); border-top: 1px solid #f3f3f3;
      -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);
      z-index: 100;
    }
      nav > lu {
                 margin: auto;
                 list-style-type: none;
                 display: flex;
               }
               nav li { cursor: pointer;  font-size: 60%; color:var(--disabled) !important; width: 100%;}
                      nav li[selected]{ color:var(--accent) !important; }
                      nav svg{ height: 25px; width: 25px;}

main { height: 100vh; width: 100%;
       margin: 4em auto;
      }
      section {  width: 100%; display: none;}
              section > header {  padding-bottom: 0; font-size: 150%; font-weight: bold; width: 100%; display: block;}
              article { min-height: 500px; max-height: 500px ;/* Temporary */ overflow: hidden;
                        width: 98%; margin: 0; padding: var(--radius);
                        background: var(--token);
                        border: 1px solid var(--line-color); border-radius: var(--radius); padding: 1em;
                        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1), 0 2px 4px 0 rgba(0, 0, 0, 0.03);
                        scroll-snap-align: start;
                      }
                      article > header { position: relative;
                                         margin-top: 0; margin-bottom: 0.5em; display: block;
                                         font-size: 130%; font-weight: 700;
                                        }
                                        header > button { margin-left: 1em;
                                                          float:right;
                                                          font-size: 0.707em;
                                                        }
                      article lu {  border-top:1px solid  var(--line-color); list-style-type: none;}
                                  article li { padding-top: 0.3em; padding-bottom: 0.3em; font-size:110%; border-bottom: 1px solid rgba(100,100,100,0.17);  position: relative;  }




article button {min-width: 5em;
        font-size: 1em; color:white;
        padding: 0.5em;
        display: inline-block;
        background: var(--accent);
        border:rgba(128,128,128,0.7);
        border-radius: 0.3em;
}

article input,select {
  width: 100%; display: block;
  margin:10px auto; padding: 0.2em;
  border-radius: 0.5em; border: 1px solid var(--accent);
  font-size: 1em; background: var(--background); color: inherit;
  -webkit-appearance:none;
}




/* Sizing Styles Do not include backgrounds */
/* Mobile */
@media screen and (min-width:320px) {
  :root { --radius: 1em; }
  body > header[active] {
                   padding-top: 0.5em;
                   padding-left:4%;
                   font-size: 1.7em;
                   -webkit-backdrop-filter: blur(50px); backdrop-filter: blur(10px);
                 }
  main { position: relative; width: 100vw; padding-bottom: 30vh;
      } main::-webkit-scrollbar { width: 0 !important }
  nav{ bottom: 0; left:0; right:0;
       padding-bottom: 3vh; padding-top: 0.3em;
       width: 100vw; text-align: center;
      }
      nav li {  width: 20%;
               padding:0.3%; display:inline-block;
               text-align: center;
              }
              nav li > span{ display: block; }

  section{ width: 93vw; margin: auto; padding-bottom: 17vh;}
  article{ width: 100%; margin-bottom:1em ;}


}
/* Tablet */
@media screen and (min-width:768px) {
  :root { --radius: 0.5em; }
  body >  header { padding-left: 9vw; padding-top: 2vh !important;}
  main { max-width: 90%;}
        section[active] { max-width: 100%; display: flex; align-items: flex-start; flex-grow: 1; flex-wrap: wrap;}
                article{ margin: 3px; max-width: 49%; padding: 1%; display: inline-block; flex: shrink; }
  nav { padding-bottom: 0.3em; }
      nav li { width: 10em;}
      nav li span{ display: inline-block; padding: 3px; vertical-align: middle;}
}
/* Desktops */
@media screen and (min-width:1200px) {
  :root { --radius: 0; }
  main { width: 1600px; }
  nav{ background: none; color:inherit; }
  nav li{ color:inherit;}

  article{ margin: 3px; max-width: 32%; display: inline-block; flex: shrink;}
}




/* Toggle Switches */

/* The switch - the box around the slider */
/* The switch - the box around the slider */
.switch {
  float: right;
  position: relative;

  display: inline-block;
  width: 2em;
  height: 1em;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #aaa;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
}

.slider:before {
  position: absolute;
  content: "";
  height: 0.9em;
  width: 0.9em;
  border: 0.05em solid #aaa;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 1em;
}

input:checked + .slider {
  background-color: var(--accent);
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(1em);
  -ms-transform: translateX(1em);
  transform: translateX(1em);
}



img[stream]{width: 100%; height: auto; border: none;}



/*
GUI Modals / Necessities
Childrens are indented with three \t relative to it's parent
Keep this message long to maintain readability among different parts of the code

Creator: John Brell G. Ladiero
Copyright 2019-2020
*/
.modal{ top:0; left: 0; right: 0; bottom: 0; position: fixed;
       width: 100vw; height: 100vh; display: block;
       opacity: 0;
       background: var(--backdrop);
        -webkit-backdrop-filter: blur(10px); backdrop-filter: blur(10px);
       z-index: 700;
     }
.modal-container {
  width: 90vw; height:auto; max-width: 0; max-height: 0; overflow-x: hidden;
  margin: 10vh auto; padding: 1em;
  border-radius: 1em; border: 1px solid var(--background);
  background: var(--token);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}

.slide-container {
  width: 100vw; height:100vh; max-width: 1000px;  overflow-x: hidden;
  margin: 100vh auto; position: relative;
  border-radius: 1em; border: 1px solid var(--background);
  background: var(--token);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 8px 16px 0 rgba(0, 0, 0, 0.05);
}
            .slide-header { top:0; left:0; right:0; width: 100%; height: auto; padding: 1em; position: sticky; background: var(--token); border-bottom: 1px solid var(--line);}
            .slide-close {  position: absolute; top:1em; right:1em; color:var(--accent); cursor: pointer;}
            .slide-content { overflow-y: scroll; padding: 1em;}

.modal input {
  width: 100%; display: block;
  margin:10px auto; padding: 0.5em;
  border-radius: 0.5em; border: 1px solid var(--accent);
  font-size: 110%;

}
.modal-content{ min-height: 3em; font-size: 110%;}
.modal button{
   width: 100%; display: block;
   margin:10px auto; padding: 0.5em;
   border-radius: 0.5em; border: none;
   font-size: 110%;
   background:var(--accent); color: white;
}
.modal-cancel {
  width: 100%; display: block;
  margin:10px auto; padding: 0.5em;
  border-radius: 0.5em; border: none;
  font-size: 110%;
  background:rgba(0,0,0,0) !important; color: var(--accent) !important;

}
